:root {
  /* Primary Colors */
  --brightOrange: hsl(31, 77%, 52%);
  --darkCyan: hsl(184, 100%, 22%);
  --veryDarkCyan: hsl(179, 100%, 13%);
  /* Neutral */
  --transparentWhite: hsla(0, 0%, 100%, 0.75);
  --veryLightGray: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--veryLightGray);
  font-size: .9375em;
  max-width: 1440px;
}

img {
  width: 4em;
  height: 2.5em;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
  height:auto;

}

.row {
  display: flex;
  flex-wrap: wrap;
  border-radius: .5em;
}

.card {
  width: 19.167em;
  height: 31.25em;
  border: none;
  padding-right: 2em;
  padding-left: 2.5em;
  border-radius: 0;
  display: flex;
  justify-content: space-around;
}

.heading {
  color: var(--veryLightGray);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 3em;
  text-transform: uppercase;
  position: relative;
  top: -5%;
}

.paragraph {
  color: var(--transparentWhite);
  font-family: 'Lexend Deca', sans-serif;
  font-size: .9375em;
  font-weight: 400;
  opacity: .75;
  line-height: 1.5625em;
  word-spacing: .3em;
  position: relative;
  top: -15%;
}

.btn-light {
  border-radius: 2em;
  width: 9.125em;
  position: relative;
  top: -5%;
}


.sedans {
  background-color: var(--brightOrange);
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.sedans .btn-light {
  color: var(--brightOrange);
}

.suvs {
  background-color: var(--darkCyan);
}

.suvs .btn-light {
  color: var(--darkCyan);
}

.luxury {
  background-color: var(--veryDarkCyan);
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.luxury .btn-light {
  color: var(--veryDarkCyan);
}

.btn-light:focus {
  background-color: inherit;
  color: var(--veryLightGray);
}

.btn-light:hover {
  background-color: inherit;
  color: var(--veryLightGray);
}

.attribution {
  font-size: .6875em;
  margin: 2em auto;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 768px) {
  .sedans {
    border-top-right-radius: inherit;
    border-bottom-left-radius: 0;
    border-top-left-radius: inherit;
  }

  .luxury {
    border-top-right-radius: 0;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
  }
}
